html {
  scroll-behavior: smooth;
}

.landing-section {
  color: #fff;
  padding: 120px 0;
}

#main {
  background-image: url("header.svg");
  margin-top: 76px;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-row {
  align-items: center;
}

.landing-row {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.landing-col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.col-layanan {
  display: flex;
  flex-direction: column;
  background-color: rgb(148, 145, 145);
  margin-bottom: 15px;
  flex-basis: 45%;
  padding: 0;
  margin: 20px;
  border-radius: 20px;
  background-color: #fff;
}

.landing-text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.top-line {
  color: #f00946;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

.heading-layanan {
  margin-bottom: 12px;
  font-size: 36px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

#hompage-button {
  width: 240px;
}

#hompage-button-dark {
  width: 240px;
}

#hompage-button-dark:hover {
  background-color: #fff !important;
  color: #4266b0;
}

#layanan-desc {
  padding: 0 16px;
  max-width: 100%;
}

.dark {
  color: #4266b0;
}

.darkBg {
  background-color: #82ccf2;
}

.landing-subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

#layanan-subtitle {
  max-width: 650px;
}

.landing-img-wrapper {
  max-width: 555px;
}

.landing-img {
  max-width: 95%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  border-radius: 20px;
}

.icon {
  font-size: 38px;
  color: #4266b0;
  margin-right: 20px;
}

.poster-text {
  position: relative;
  bottom: 80px;
  left: 40px;
  font-size: 32px;
  font-weight: bold;
}

.text-primary {
  color: #4266b0 !important;
}

#layanan .card {
  padding: 24px;
  border-radius: 12px;
  border-width: 0px;
}

.card-title {
  color: #4266b0;
  font-weight: bold;
  font-size: 24px;
}

.card-text {
  color: black !important;
}

.card-img-top {
  border-radius: 12px !important;
  margin-bottom: 12px;
}

.btn-primary {
  width: 100px;
  background: #4266b0 !important;
  border: 2px solid #4266b0 !important;
  color: #fff;
  font-weight: bold !important;
}

.btn-primary:hover {
  background: #82ccf2 !important;
  border: 2px solid #82ccf2 !important;
}

.btn-secondary {
  width: 100px;
  background: transparent !important;
  border: 2px solid #4266b0 !important;
  color: #4266b0 !important;
  font-weight: bold !important;
}

.btn-secondary:hover {
  background: #82ccf2 !important;
  border: 2px solid #82ccf2 !important;
  color: #fff !important;
}

@media screen and (max-width: 991px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 758px) {
  .landing-text-wrapper {
    padding-bottom: 65px;
  }
  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}
